.small-text {
  font-size: 14px;
}
.medium-text {
  font-size: 16px;
}
.medium-weight{
  font-weight: 600;
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
