.box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  width: 85%;
  margin:30px  auto;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p:last-of-type {
  color: #08a47d;
  font-weight: 500;
  border-radius: 5px;
  font-size: 13.5px;
  padding: 5px 12px;
}
.price p:first-of-type {
  font-size: 13.5px;
  text-align: left;
}
.places p:first-of-type {
  font-size: 16px;
}
.subContainer {
  border-radius: 0px 0px 10px 10px;
  background: #e4f7f3;
}
.subContainer svg {
  position: absolute;
  top: 30px;
  left: 10px;
}
.subContainer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px 12px 30px;
}
.places {
  text-align: left;
}
.places p:last-of-type,
.description {
  color: #787676;
  font-size: 11px;
}
