.main {
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top;
  background-image: url("../../../assets/images/landing/bg.png");
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.main > div {
  margin: 0px auto 8rem auto;
  width: 90%;
}
.main input {
  width: 90%;
  background: transparent;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}
.main input::placeholder {
  color: #f8f6e7;
}
.main input:focus {
  outline: none;
}
.main label {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.flexLabel {
  display: flex;
  border-bottom: 1px solid #f8f6e7;
}
.flexLabel span {
  background: #f8f6e7;
  height: inherit;
  display: block;
  width: 2px;
  margin: 0 18px;
}
.main form button {
  margin: 25px auto;
}
.form p{
  font-weight: 400;
  font-size: 16px;
}
.imgEnd {
  right: 38px;
  top: 15px;
}
.imgStart {
  top: 18px;
  left: 38px;
}
.main a {
  text-decoration: underline;
  font-weight: 400;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.line span {
  height: 2px;
  width: 42%;
  background: #c4c4c4;
}
.line p {
  font-size: 12px;
  padding: 0px 5px;
}
.google {
  width: 90%;
  display: block;
  background: #ffffff;
  margin: auto;
  border: none;
  border-radius: 7.10719px;
  padding: 12px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
