.main {
  width: 90%;
  margin: 10px auto 8rem auto;
}
.main input {
  width: 90%;
  display: block;
  margin: auto;
  padding: 14px 10px 10px 45px;
  border: 1px solid rgba(173, 203, 227, 0.5);
  border-radius: 10px;
}
.main label {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main input:focus {
  outline: 1px solid #407bff;
}
.main button > div {
  position: absolute;
  top: 5px;
  right: 30px;
}
.main form button {
  margin: 25px auto;
}
.password {
  position: relative;
}
.password img {
  position: absolute;
}
.imgEnd {
  right: 38px;
  top: 15px;
}
.imgStart {
  top: 18px;
  left: 38px;
}
.main a {
  color: #407bff;
  text-decoration: underline;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.line span {
  height: 2px;
  width: 42%;
  background: #c4c4c4;
}
.line p {
  font-size: 12px;
  color: #222222;
  padding: 0px 5px;
}
.google {
  width: 90%;
  display: block;
  background: none;
  margin: auto;
  border: 0.710719px solid #12082d;
  border-radius: 7.10719px;
  padding: 12px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
