.toast {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 20px;
  text-align: left;
}

.toast p:first-of-type {
  font-size: 18px;
  font-weight: bold;
}
.toast p:last-of-type {
  font-size: 15px;
}
