.main {
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #fff;
}

.btn_div > button:first-of-type {
  margin-bottom: 10px;
}
.pin {
  animation: animate 0.5s infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
