.destination {
  margin: 10px 0;
  position: relative;
}
.destination > span {
  background: rgba(71, 119, 247, 0.2);
  border-radius: 20px;
  width: 60%;
  margin: 10px auto;
  display: block;
  height: 7px;
}
.main img {
  position: absolute;
  left: 15px;
  bottom: 18px;
}
.main input{
  width: 80%;
  padding: 10px;
  margin: auto;
  display: block;
}
.main h3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.main p {
  width: 80%;
  margin: 10px auto;
}
