.btn {
  display: block;
  width: 90%;
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 13px 0;
  position: relative;
  font-family: var(--poppins);
  font-size: 16px;
}
.btn_grey {
  background: rgba(173, 203, 227, 0.2);
  color: #000000;
}
.btn_blue {
  background: #4777f7;
  color: #ffffff;
}
.btn_white {
  background: #ffffff;
  color: #222222;
}
