.main {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(34, 34, 34, 0.15);
  border-radius: 20px;
  transition: height 0.3s ease-in-out;
  height: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.show {
  height: 85vh !important;
}
.sub {
  width: 90%;
  margin: auto;
  padding-top: 2rem;
}
.top {
  position: relative;
}
.top img {
  position: absolute;
  top: -5px;
  right: 10px;
}
.top p {
  text-align: center;
}
.formDiv {
  margin-top: 3rem;
  background: rgba(64, 123, 255, 0.1);
  box-shadow: 0px 4px 2px #ebf0f5;
  border-radius: 10px;
  position: relative;
  padding: 10px 10px 10px 55px;
}
.formDiv input,
.googlePlaces input {
  border: none;
  padding: 12px;
  font-size: 15px;
  display: block;
  background: none;
  font-family: var(--sora);
  color: #222222;
  width: 100%;
}
.googlePlaces > div > div {
  border: none;
  background-color: transparent;
}
.googlePlaces > div > div:nth-child(3){
  /* border: none; */
  background-color:#fff;
}
.googlePlaces span {
  display: none !important;
  height: 0px;
  background: transparent !important;
}
.googlePlaces svg {
  background: transparent !important;
  display: none !important;
}
.formDiv_span {
  display: block;
  background: rgba(157, 168, 182, 0.2);
  height: 2px;
  width: 100%;
}
.formDiv img {
  position: absolute;
  top: 22px;
  left: 25px;
}
.formDiv input:focus {
  background: #fff;
  outline: none;
}
.btn {
  width: 90%;
  position: fixed;
  bottom: 50px;
  left: 5%;
}
