.container {
  width: 85%;
  margin: auto;
  height: 90vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
}
.logo img {
  width: 130px;
  height: 40.22px;
}
.container button {
  background: none;
  border: 1px solid #505dd1;
  color: #505dd1;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
}
.container button img {
  width: 40px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  /* animation properties */
  animation-name: my-animation;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation {
  from {
    right: 0px;
  }
  to {
    right: 12px;
  }
}
.typing {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  height: 10rem;
}
.rider {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rider img {
  width: 85%;
}
