.container {
  background: rgba(0, 0, 0, 0.7);
  width: 0px;
  transition: width ease-in-out 0.5s;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
}
.visible {
  width: 100% !important;
}
.main {
  transition: width 0.4s linear, visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  height: 100vh;
  background: #fff;
  width: 0%;
  border-radius: 0px 20px 20px 0px;
  visibility: hidden;
  opacity: 0;
  position: relative;
  align-items: center;
}
.visible > div {
  opacity: 1;
  visibility: visible;
}
.visible > div {
  width: 85%;
}
.visible > div:last-of-type {
  width: 20%;
}
.subMain {
  height: 100vh;
}
/* .subMain > img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
} */
.profile {
  padding: 3rem 0.5rem 1rem 0.5rem;
}
.profile > div {
  border: 1px solid #dadada;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 1.2rem;
}
.links {
  padding: 0.1rem 2rem;
  background: #407bff;
  height: 100%;
}
.links > a,
.links > div {
  display: flex;
  margin: 40px 0 40px 10px;
  align-items: center;
  color: #fff;
}

.links > a img,
.links > div img {
  margin-right: 15px;
}
.links > div span{
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
}
.profile img {
  margin-right: 15px;
}
.profile h4 {
  margin-bottom: 5px;
}
.profileInfo p {
  font-size: 12px;
}
