* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a:link,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
label {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}
.Toastify__toast-container {
  width: 85% !important;
  top: 10px !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
}
