.main {
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top;
  background-image: url("../../assets/images/landing/bg.png");
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.whitebg {
  background: #fff;
  border-radius: 20px 20px 0 0;
  height: 100%;
  color: #444444;
}
.whitebg h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: underline;
}
.whitebg h4 {
  text-align: center;
  padding: 20px 0;
}
.whitebg p {
  text-align: center;
}
.arrow {
  position: absolute;
  top: 51px;
  left: 20px;
}
.main > div {
  padding: 3rem 0 1.5rem 0;
}
.main div:first-of-type p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.whitebg p {
  width: 85%;
  margin: auto;
  font-size: 14px;
  padding-bottom: 2rem;
}
.socials {
  font-size: 14px;
  color: #407bff;
  text-decoration: underline;
}
.socials div {
  max-width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials img {
  width: 24px;
  height: 24px;
  margin: 10px;
}
.location {
  padding: 15px 0;
}
.footer {
  font-size: 12px;
  color: #000000;
  text-align: center;
  padding-bottom: 20px;
}
