.main {
  width: 100%;
}
.main h2 {
  font-size: 38px;
  margin: 2rem 0;
  line-height:45px;
}
.main h3 {
  font-size: 28px;
  text-align: center;
  color: #434448;
  width: 90%;
  margin: 4rem auto 1rem auto;
}
.main h4 {
  color: #474c7e;
  margin: 20px 0;
  font-size: 22px;
}
.topSection {
  background: #2f31a7;
  margin: auto;
  height: 60vh;
  color: #fff;
}
.topSection header a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topSection div {
  width: 85%;
  margin: auto;
}
.topSection p {
  margin: 10px 0;
  font-size: 16px;
}
.img {
  width: 85%;
  margin: auto;
}
.img img {
  max-width: 100%;
  height: auto;
}
.about {
  color: #52555c;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}
.box {
  background: #eef3ff;
  padding: 1.6rem;
  width: 85%;
  margin: auto;
}

.box div {
  width: 70px;
  height: 70px;
  background: #6273f3;
  border-radius: 10px;
  padding: 10px;
}
.box img {
  width: 100%;
}
.box p {
  color: #6569b7;
}
.expand {
  width: 85%;
  margin: 2rem auto;
}
.expand img {
  width: 30px;
  height: 30px;
}
.expand h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.expand p {
  margin: 10px 0;
}
.line {
  width: 100%;
  background: rgb(227, 228, 230);
  height: 2px;
  display: block;
}
.socialDiv {
  width: 85%;
  margin: auto;
}

.social {
  width: 100%;
  background: #eef3ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  text-align: center;
}
.social p {
  color: #434448;
  text-decoration: underline;
}
.socialDiv img {
  width: 25px;
  height: 25px;
  margin: 20px;
}
.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 3rem;
}
/* .main {
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top;
  background-image: url("../../assets/images/landing/bg.png");
}
} */
